body{
    background-color: wheat;
}
h1 {
    top: 25px;
    left: 6.5%;
    position: absolute;
    top: 35%;
}

img {
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 25px;

}

p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 6.5%;
}
p::first-letter{
    font-size:xx-large;

}

.b-1 {
    font-size: 15px;
    background-color: brown;
    font-weight: 700;
    width: 15%;
    border-style: solid;
    position: absolute;
    top: 80%;
    left: 6.5%; 

}

.b-2 {
    font-size: 15px;
    background-color: brown;
    position: absolute;
    top: 5%;
    right: 15%;
    width: 15%;
    font-weight: 700;
}
.b-2:hover {
    cursor:pointer;
}
.b-1:hover {
    cursor:pointer;
}
.a-1:hover {
    color: darkred;
    text-decoration: underline;
}

.a-2:hover {
    color: darkred;
       text-decoration: underline;

}

.a-3:hover {
    color: darkred;
       text-decoration: underline;
}

.a-1,
.a-2,
.a-3 {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.a-1 {
    position: absolute;
    top: 5%;
    left: 40%;
}

.a-2 {
    position: absolute;
    top: 5%;
    right: 45%;
}

.a-3 {
    position: absolute;
    top: 5%;
    right: 33%;
}